[Unit]
Description=Servo Controller Service
After=network.target

[Service]
Type=simple
User=root
Group=gpio
WorkingDirectory=/home/rasp/servo
ExecStart=/usr/bin/python3 /home/rasp/servo/servo_controller.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target